.driftwood-sign {
  position: relative;
  width: 100%;
}

.driftwood-sign__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}

.driftwood-sign__content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 340px;
  padding: 60px 72px 84px;
  box-sizing: border-box;
}
